<html>
  <head>
    <title>Hello</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class='box'>
      Hello i love you:)
      <a href='/'>Home</a>    
    </div>

    
  </body>
</html>
